/* Animation */
#loader {
  margin: 2rem;
  width: 50px;  /* width of the loader */
  height: 50px; /* height of the loader */
  border: 5px solid transparent; /* border width */
  border-color: #999 transparent #999 transparent; /* border colors (4 - 2 transparent) */
  border-radius: 50%; /* make it round */
  animation: spin 1.5s linear infinite; /* spin animation with duration and continuous */
  box-shadow: 0 0 1rem rgb(0 0 255 / 40%); /* blueish shadow effect on round div */
  position: relative;
}

#loader::after {
  content: '⚙️';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {transform: rotate(360deg);} /* spin 360 degrees */
}

@keyframes pulse { /* pulse the gear emoji */
  0%, 100% {transform: translate(-50%, -50%) scale(1);} /* scale to 1 */
  50% {transform: translate(-50%, -50%) scale(1.25);} /* scale to 1.25 */
}


/* Transition */
.loader-t {
  /* the only thing that changed was using transition versus animation */
  margin: 2rem;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-color: #999 transparent #999 transparent;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
  position: relative;
  
  transition: transform 1.5s linear;
}
        
.loader-t::after {
  /* the only thing that changed was using transition versus animation and the size and visibility at start */
  content: "⚙️";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1.5s ease-in-out;
  font-size: 2rem;
 }
        
.loader-t:hover {
  transform: rotate(360deg); /* Rotate on hover */
}
        
.loader-t:hover::after {
  transform: translate(-50%, -50%) scale(1.5); /* Scale on hover */
}