@media (min-width: 768px) {
    #menu {
        display: none;
    }

    .navigation{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #members.grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    }

    #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
    }
    
    .home-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .spotlights {
        grid-column: 1/3;
    }

    .card img:hover{
        transform:scale(1.05);
    }
}